Package: com.shade.vultus
Name: Vultus
Depends: firmware (>= 10.0), mobilesubstrate, preferenceloader, ws.hbang.common
Version: 0.1
Architecture: iphoneos-arm
Description: Unlock with Facial Recognition
Maintainer: Shade Zepheri <ziroalpha@gmail.com>
Author: Shade Zepheri <ziroalpha@gmail.com>
Section: Tweaks
Depiction: http://shade-zepheri.github.io/depic/index.html?p=com.shade.vultus
